
<%= form_for :participation, url: participation_path, method: :patch do |f| %>
<!-- エラーメッセージ start-->
<% if @participation.errors.any? %>
  <h2><%= @participation.errors.count %>件のエラーが発生したため保存ができませんでした。</h2>
  <ul>
      <% @participation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
  </ul>
<% end %>
<!-- エラーメッセージ end-->

  <p><%= f.label :name, '名前' %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :telphone, '電話番号' %></p>
  <p><%= f.telephone_field :telphone %></p>

  <p><%= f.label :mail, 'メールアドレス' %></p>
  <p><%= f.email_field :mail %></p>

  <p><%= f.label :publish, '出欠確認' %></p>
  <%= f.select :publish, ['出席', '欠席', '未定'], { include_blank: '選択してください' } %>

  <p><%= f.label :price, '希望予算' %></p>
  <p><%= f.text_field :price %></p>

  <p><%= f.label :content, '質問内容' %></p>
  <p><%= f.text_area :content, cols: 50, rows: 10 %></p>

  <p><%= f.submit %></p>

<% end %>