<h1>ユーザー管理</h1>
  <p>名前：<%= @participation.name %></p>
  <p>電話番号：<%= @participation.telphone %></p>
  <p>メールアドレス：</p>
  <%= @participation.mail %>
  <p>出欠席：<%= @participation.publish %></p>
  <p>希望予算：<%= @participation.price %></p>
  <p>質問内容：<%= @participation.content %></p>
