<div class="page-header">
  <h1 id="type">投稿の編集</h1>
</div>

<%= form_for :post, url: post_path, method: :patch do |f| %>

  <p><%= f.label :title, "タイトル" %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :text, "内容" %></p>
  <p><%= f.text_area :text, cols: 50, rows: 10 %></p>

  <p><%= f.submit "送信" %></p>

<% end %>
